body {
    margin: 0;
    background-image: url(/img/fondo.jpg);
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(21, 185, 197);
}
header {
    background-image: url(/img/fotocabecera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
footer {
    background-color: rgb(7, 255, 19);
    color: rgb(25, 0, 255);
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
}

nav {
    width: 20%;
    float: left;
}

#content {
    width: 78%;
    float: right;
    padding: 0 1%;
}

#home {
    text-align: center;
    padding-top: 40px;
}

.cb {
    clear: both;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav ul li {
   text-align: center;
   color: rgb(16, 10, 83);
   font-weight: bold;
   padding: 18px 0;
   border-radius: 20px;
   border: solid 2px rgb(78, 69, 168);
}
nav ul li:hover {
    color:  rgb(216, 213, 247);
    background-color: rgb(83, 10, 71);
}
.txt-center {
    text-align: center;
}
.tag {
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.txt-azul {
    color: blue;
}
.caja {
    width: 200px;
    height: 100px;
    background-color: rgb(130, 130, 160);
}
/*    desordenada customizada */
ul.ldc li {
    list-style-type: square;
}
ul.ldc li ul li{
    list-style-type: disc;
}
ul.ldc li ul li ul li{
    list-style-type: circle;
}
/*    ordenada customizada */
ol.loc li {
    list-style-type: upper-alpha;
}
ol.loc li ol li{
    list-style-type: lower-roman;
}
ol.loc li ol li ol li{
    list-style-type: decimal;
}
ol.loci li ol li {
    list-style-image: url(../img/heart.png);
}
ol.loci li ol li ol li {
    list-style-type: upper-alpha;
    list-style-image: none;
}
dt {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.centrotabla {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table.te th {
    background-color: rgb(10, 117, 19);
    color: rgb(0, 0, 0);
    font-size: 28px;
}
table.te td{
    background-color: rgb(255, 0, 242);
    color: rgb(255, 255, 255);
}
table.centered td {
    text-align: center;
}
table.striped tr:nth-child(odd) {
    background-color: rgb(198, 255, 236);
}
table.striped tr:nth-child(even) {
    background-color: rgb(253, 207, 239);
}
.BDD {
    background-color: #ff8080;
}
.SISI {
    background-color: #ffa264;
}
.LMSG {
    background-color: #00df00;
}
.PROG {
    background-color: #0080ff;
}
.FOL{
    background-color: #ffff64;
}
.ING {
    background-color: #d2d26e;

}
.ENDE {
    background-color: #00b95c;
}
.titulo {
    color: #008080;
    background-color: #f0f0f0;
}
form.registro {
    width: 60%;
    background-color: rgb(218, 23, 23);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-style: dotted ;
}
.redondo {
    border-radius:55px;

}
#formhtml5 form {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(160, 157, 157);
    padding: 20px;
    border: solid 10px rgb(83, 48, 48);
    border-radius: 20px;

}
#formhtml5 form fieldset legend {
    background-color: rgb(15, 0, 230);
    color: rgb(208, 230, 8);
    border: solid 15px rgb(121, 30, 101);
    font-weight: bold;
    border-radius: 20px;
}
#idrange{
    width: 70px;
    text-align: center;
}
